.transfer {
    background-color: rgb(219, 212, 212);
    // background-color: rgb(121, 147, 196);
    margin-top: 10px;
    border-radius: 5px;
    padding: 15px;
    .form-trans {
        gap: 5px;
        margin-top: 10px;
    }
}