<div class="contact-edit">
    <!-- <button (click)="close()">←</button> -->
    <form #contactForm="ngForm" class="form-edit flex column align-center">
        
        <label for="name">Name</label>
        <input required type="text" placeholder="Name" name="name" [(ngModel)]="contactToEdit.name">

        <label for="email">Email</label>
        <input required type="email" placeholder="Email" name="email" [(ngModel)]="contactToEdit.email">

        <label for="phone">Phone</label>
        <input required type="text" placeholder="Phone" name="phone" [(ngModel)]="contactToEdit.phone">

    </form>
    <!-- <button (click)="saveContact($event)">Save</button> -->
    <div class="action flex space-between">
        <button (click)="close()">←</button>
        <button (click)="saveContact($event)">Save</button>
    </div>
</div>