<section class="contant-details app-main">
    <div class="action flex space-between">
        <button><a [routerLink]="['/contact']" routerLinkActive="router-link-active">
                Back</a></button>
        <button><a [routerLink]="['/contact/edit/'+contact._id]" routerLinkActive="router-link-active">
                Edit</a></button>
    </div>
    <img [src]="'https://robohash.org/'+ contact.name" alt="">
    <h1>{{contact.name}}</h1>
    <p>E-mail: {{contact.email}}</p>
    <p>Phone: {{contact.phone}}</p>
    <transfer-fund [contact]="contact" (trans)="transfer($event)"></transfer-fund>
    <moves-list [moves]="moves" [title]="'Your Moves:'"></moves-list>
</section>