.contact-preview {
    background-color: rgb(191, 230, 243);
    margin-top: 5px;
    border-radius: 15px;
    min-width: 400px;
    cursor: pointer;
    img {
        height: 40px;
        object-fit: cover;
        margin: 0 10px;
    }
    p{
        padding: 10px;
    }
    &:hover {
        background-color: darken($color: rgb(191, 230, 243), $amount: 5)
    }
    &:focus {
        outline: none;
    }
}